include /../node_modules/bemto.jade/bemto
include ../page/page
include ../scripts/scripts

doctype html
html(lang='ru')
	include ../head/head
	+page
		block content
		+scripts(['jquery.min.js', 'app.min.js'])